#searchNav {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.company-card {
    width: 7em;
    height: 7em;
}

.company-card:hover {
    background-color: #d8eefc;
    cursor: pointer;
}

.company-card .company-name {
    margin-top: 35%;
}

.card.tea-collectible-card {
    width: 12em;
}

.tea-collectible-card img {
    height: 7em;
}