#searchNav {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.company-card {
    width: 7em;
    height: 7em;
}

/* TODO Make the company card change the background color to #d8eefc and cursor to pointer on hover. Add the relevant style here.*/

.company-card .company-name {
    margin-top: 35%;
}